<mat-toolbar class="header">
    <h3>Seja bem vindo, {{ user }}</h3>
    <span class="spacer"></span>
    <a href="https://github.com/sergiolclem/Infosistemas" target="_blank" mat-button>
        <span class="mat-button-wrapper">
            <img src="../../../assets/img/github-circle-white-transparent.svg" class="docs-angular-logo"> GitHub
        </span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
</mat-toolbar>
