/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100%; background-color: #EAEDED; }
body{
    display: flex;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
}
