<mat-card>
    <mat-card-header>
        <mat-card-title>Lista de Carros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>directions_car</mat-icon>
                <div matLine>Saveiro Cross, Volkswagen</div>
                <div matLine>2017</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>directions_car</mat-icon>
                <div matLine>Strada Working, Fiat</div>
                <div matLine>2018</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>directions_car</mat-icon>
                <div matLine>XRE 300, Honda</div>
                <div matLine>2019</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>