<mat-card>
    <mat-card-header>
        <mat-card-title>Lista de Carros</mat-card-title>
    </mat-card-header>
    <mat-card-content [ngSwitch]="loadingSpinner">
        <app-loading-spinner *ngSwitchCase="true"></app-loading-spinner>
        <mat-list *ngSwitchCase="false">
            <mat-list-item *ngFor="let car of cars">
                <mat-icon mat-list-icon>directions_car</mat-icon>
                <div matLine>{{ car.model }}, {{ car.company }}</div>
                <div matLine>{{ car.year }}</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>